*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 1400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 10px;
}

body {
    background-color: black;
}

/* HEADER */
header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

button {
    margin-top: 5px;
    margin-left: 2px;
    padding: 5px;
    color: white;
    background-color: rgb(74, 74, 74);
    border-radius: 5px;
}

/* MAIN */

.column{
    position: relative;
}

.etichetta{
    color: white;
    background-color: rgba(128, 128, 128, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 12px;
    padding: 5px;
}

/* FOOTER */
footer{
    height: 80px;
    margin-top: 20px;
    color: white;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-center, .footer-left{
    display: flex;
    font-size: 23px;
}

.footer-left{
    margin-left: 10px;
    gap: 25px;
}

.resize{
    font-size: 10px;
    display: flex;
    align-items: center;
    margin-left: -15px;
}

.footer-center{
    gap: 25px;
}

.column p{
    font-size: 11px;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.green{
    color: rgb(75, 201, 0);
}

.footer-right{
    height: 100%;
    font-size: 8px;
    color: red;
    background-color: rgb(74, 74, 74);
    display: flex;
    align-items: center;
    padding: 15px;
}





